* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100svh;
  overflow: hidden;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    min-width: 100%;
    min-height: 100svh;
}

.header {
    display: flex;
    align-items:normal; 
    justify-content: space-around;
}

.title {
    font-weight: 300;
    letter-spacing: 5px;
    color: #191825;
}
 
.fa-xmark {
    font-size: 24px;
    color: #E384FF; 
    cursor: pointer;
    display: none;
}

.fa-xmark:hover {
    animation-name: spin;
    animation-duration: 100ms;
    animation-timing-function: linear;
}

.accent {
    color: #865DFF; 
}

.nav-links{
    list-style: none;
    font-size: 24px;
    margin-top: -7rem;
    min-width: 100%;
}

.nav-link {
    padding: 2rem 1rem;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}


.nav-link:hover {
    background-color: #FFA3FD;
    padding-left: 1.5rem;
}

.social-links {
    font-size: 24px;
    align-self: center;
}

.social-link {
    margin: 0 0.5rem;
    color: #865DFF;
}

a {
    text-decoration: none;
}

.nav-link > a:visited {
    color: #191825
}

.social-link:visited {
    color: #865DFF;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}